@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {font-family: 'Roboto', sans-serif;}

.section {
    max-width: 2480px;
    padding: 212px 156px 178px 165px  ;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text-link {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: space-around;
    height: 582px;
}

.header__text {
    padding-bottom: 118px;
    
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding-top: 110px;
    padding-bottom: 70px;
}

.social__item {
    display: flex;
    align-items: center;
}

.header__name {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    color: #15D199;
    padding-bottom: 40px;
}

.header__name-second {
    font-weight: 300;
    color: #A9A9A9;
}

.header__proffesional {
    font-size: 40px;
    color: #15D199;
    font-weight: 400;
}

.social__link {
    padding-left: 56px;
    vertical-align: center;
}



